<h1>Welcome#home</h1>
<p>Find me in app/views/welcome/home.html.erb</p>

<%= link_to "Sign in with Facebook", "/auth/facebook" %>

<%= link_to "See All Listings", user_listings_path(current_user.id) %>

<%= link_to "Edit Profile", edit_user_path(current_user.id) %>

<%= link_to "Create New Listing", new_user_listing_path(current_user.id) %>